.mainDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #252525;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 2px 4px rgba(75, 74, 74, 0.1);
    width: 100%;
    border: .1rem solid #ffffff2c;
}

.optionsDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #252525;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex: 3;
}

.buttonDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.formatSelectNative {
    display: block;
    padding: .1rem .2rem;
    border: 1px solid #ffffffd8;
    border-radius: 0.3rem;
    background-color: #18181b;
    color: #f4f4f5;
    font-size: .9rem;
    line-height: 1.25rem;
    min-height: 2.2rem;
    width: 120px;
    cursor: pointer;
    outline: none;
    user-select: none;
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
}

.formatSelectNative:focus {
    border-color: #60a5fa;
    box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.5);
}

.formatSelectNative option {
    background-color: #18181b;
    color: #ffffff;
}

.downloadButton {
    padding: 1rem 3rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: .4rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: #18b346;
    transition: background-color 0.3s;
    margin-top: 1rem;
    user-select: none;
}

.downloadButton:hover {
    background-color: #16a34a;
    border-color: #ffffff9f;
}
.downloadButton:active {
    background-color: #0bcf53;
    border-color: #ffffff00;
}

.errorMessage {
    color: red;
    font-size: .8rem;
    margin-top: 1rem;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
}

.successMessage {
    color: green;
    font-size: .8rem;
    margin-top: 1rem;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
}